html {
    font-size: 15px;
    background-color: #0F9D58;
    color: #F4B400;
/*    google colors*/
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 15px;
    font-family: calibri, Arial, serif;
    width: 400px;
    margin: 2rem auto 0 auto;
    padding: 10px;
}
div {
    text-align: center;
    align-items: center;
    align-content: center;
}
.Options {
    background-color: #4285F4;
    margin: 0.2em 0.2em;
    padding: 0 0 2em 0;
}
button {
    background-color: #DB4437;
}

.fullRow {
    grid-column: 1/-1;
}
.FilledIn {
    background-color: #F4B400;
    color: #4285F4;
    padding: 0.5rem 0;
}
.FilledIn2 {
    background-color: #4285F4;
    color: #F4B400;
    padding: 0.5rem 0;
    margin: 0.2em;
}
.full {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    padding-bottom: 25px;
}
#one, #two, #three, #four, #five {
    padding: 10px;
}
footer {
    padding: 10px;
    background-color: #4285F4;
}
a {
    color: #F4B400;
}
#bonus {
    padding: 20px 50px;
}